loader.white{
    .loader>div{
        border-color: white;
        border-bottom-color: transparent;
    }
}
loader.absolute{
    .loader{
        position: absolute;
    }
}
loader.relative{
    .loader{
        position: relative;
    }
}

.loader {
  position: fixed;
  top: 50%;
  left: calc(50% - 16px);
  width: 32px;
  height: 32px;
  z-index: 500;

  div {
      width: 100%;
      height: 100%;
    background: transparent;
    border: 2px solid $gray;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: ball-clip-rotate 1s linear infinite;
  }
}

@keyframes ball-clip-rotate {
    0% {
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
           -moz-transform: rotate(180deg);
             -o-transform: rotate(180deg);
                transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
