section.grid {
  .cell__cover {
    width: 100%;
    height: 100%;
    background-color: $white;
  }

  .cell__cover:hover{
    .cover__title,
    .cover__excerpt {
      color: #333;
    }
  }

  .cell-container.cover {
    height: 430px;

    .cell__cover__xs {
      display: none;
    }
  }

  .cover__image__container {
    height: 100%;
    background-color: $white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cover__image {
    object-fit: cover;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
  }

  .cover__content__container {
    padding: 20px 16px;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .cover__content__bottom {
    position: absolute;
    width: calc(100% - 32px);
    bottom: 16px;
  }

  .cover__content__main__top {
    max-width: 400px;
    margin: 24px auto auto;
  }

  .cover__content__main__bottom {
    max-width: 400px;
    margin: 24px auto auto;
  }

  .cover__title {
    text-align: center;
    font-size: 30px;
    letter-spacing: .4px;
  }

  .cover__excerpt {
    text-align: center;
    font-size: 16px;
  }
  //#####################
  // LG
  //#####################
  @include breakpoint(lg) {
    .cell-container.cover {
      height: 532px;
    }

    .cover__content__main__top {
      margin-top: 36px;
      max-width: 480px;
    }

    .cover__title {
      font-size: 36px;
    }

    .cover__excerpt {
      font-size: 18px;
    }
  }
  //#####################
  // SM
  //#####################
  @include breakpoint(sm) {
    .cell-container.cover {
      height: 345px;
    }

    .cover__content__main__top {
      margin-top: 16px;
    }

    .cover__title {
      font-size: 22px;
    }

    .cover__excerpt {
      font-size: 14px;
    }
  }
  //#####################
  // XS
  //#####################

  @include breakpoint(xs) {
    .cell-container.cover {
      // height: 0;
      // padding-bottom: 62%;
      // cool trick but:
      height: 345px;

      .cell__cover {
        display: none;
      }

      .cell__cover__xs {
        display: block;
      }

      .cover__excerpt {
        max-width: 75%;
        margin: auto;
      }
    }
  }

  //#####################
  // XXS
  //#####################

  @include breakpoint(xxs) {
    .cell-container.cover {
      height: 300px;

      .cell__cover {
        display: none;
      }

      .cell__cover__xs {
        display: block;
      }
    }

    .cell__excerpt {
        display: none;
    }
  }
}

//#####################
// NORMAL CELL AS COVER CELL
//#####################
section.grid .cell-container.cover .cell__cover__xs {
    .cell__title {
        font-size: 22px;
        letter-spacing: .4px;
        max-width: 90%;
        margin: auto;
    }
    .cell__excerpt {
        margin-top: 8px;
        line-height: 24px;
        @extend .cover__excerpt;
        color: $white;
        // text-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
}

//#####################
// CELL ANIMATION
//#####################

@media (min-width: $small-breakpoint) {
  section.grid .cell-container.cover {
    .cell__cover:hover {
      .cover__title,
      .cover__excerpt {
        span {
          border-bottom: 1px solid $accent;
        }
      }
    }
  }
}

