<div class="footer-content row">
    <div class="col-sm-4 col-md-3 footer-block-container">
        <div class="footer-block">
            <div class="footer-block-header">
                <img class="footer-logo" src="assets/images/LogoFashionWhite.png"/>
            </div>
            <ul>
                <li class="help-link">
                    <a href="">О Проекте</a>
                </li>
                <li class="help-link">
                    <a href="">Редакция</a>
                </li>
                <li class="help-link">
                    <a href="">Реклама</a>
                </li>
                <li class="help-link">
                    <a href="">Контакты</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-sm-4 col-md-3 footer-block-container">
        <div class="footer-block">
            <div class="footer-block-header">
                <h2>Мы в Cоцсетях</h2>
            </div>
            <ul>
                <li class="help-link">
                    <a href="#" ng-click="openBlank(social.fb)">
                        <i class="icon-facebook-squared social-icon"></i>
                        Facebook
                    </a>
                </li>
                <li class="help-link">
                    <a href="#" ng-click="openBlank(social.vk)">
                        <i class="icon-vkontakte social-icon"></i>
                        ВКонтакте
                    </a>
                </li>
                <li class="help-link">
                    <a href="#" ng-click="openBlank(social.inst)">
                        <i class="icon-instagram social-icon"></i>
                        Instagram
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-sm-4 col-md-3 footer-block-container">

        <div class="footer-block">
            <div class="footer-block-header">
                <h2>Журнал</h2>
            </div>
            <ul>
                <li class="help-link">
                    <a href="">О Журнале</a>
                </li>
                <li class="help-link">
                    <a href="">Где Найти</a>
                </li>
                <li class="help-link">
                    <a href="">Архив</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="hidden-sm col-md-3 footer-block-container">
        <div class="footer-block">
            <a href="" class="footer-magazine-cover-link">
                <img class="footer-magazine-cover"
                     src="http://i1.wp.com/fcollection.by/wp-content/uploads/2016/01/01.jpg?w=900"/>
            </a>
        </div>
    </div>
</div>
