<div class="footer-content-xs row">
    <div class="col-xs-6 footer-block-container">
      <div class="footer-block">
          <div class="footer-block-header">
            <h2>Теги</h2>
          </div>
        <ul>
          <li class="tag-link" ng-repeat="tag in footerCtrl.tags| offset:0 | limitTo:4">
            <a ui-sref="tag({tagId: tag.id})">{{tag.name}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-xs-6 footer-block-container">
      <div class="footer-block">
          <div class="footer-block-header">
            <h2> </h2>
          </div>
        <ul>
          <li class="tag-link" ng-repeat="tag in footerCtrl.tags| offset:4 | limitTo:4">
            <a ui-sref="tag({tagId: tag.id})">{{tag.name}}</a>
          </li>
        </ul>
      </div>
    </div>


  <div class="col-xs-6 footer-block-container">
    <div class="footer-block">
        <div class="footer-block-header">
          <h2>Проект</h2>
        </div>
      <ul>
        <li class="help-link">
          <a href="">О Проекте</a>
        </li>
        <li class="help-link">
          <a href="">Редакция</a>
        </li>
        <li class="help-link">
          <a href="">Реклама</a>
        </li>
        <li class="help-link">
          <a href="">Контакты</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-xs-6 footer-block-container">
    <div class="footer-block">
      <div class="footer-block-header">
        <h2>Журнал</h2>
      </div>
      <ul>
        <li class="help-link">
          <a href="">О Журнале</a>
        </li>
        <li class="help-link">
          <a href="">Где Найти</a>
        </li>
        <li class="help-link">
          <a href="">Архив</a>
        </li>
      </ul>
    </div>
  </div>
</div>
