$footer-gray: #CACACA;

footer.footer{
    background-color: $black;
    color: $white;
    font-family: $font-family-sans-serif;
    margin-top: 40px;
    //min-height: 380px;
}

.footer-content {
    width: 960px;
}

.footer-logo {
    width: 160px;
    height: 80px;
}

.footer-block-header{
    height: 80px;
    margin-bottom: 24px;
    position: relative;

    h2 {
        color: $white;
        font-family: $font-family-sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: .16rem;
        text-transform: uppercase;
        margin-bottom: 0;

        position: absolute;
        bottom: 0;
    }
}
.footer-block {
    padding: 40px 0px;
    .help-link {
        margin: 0;
        list-style: none;
        line-height: 32px;
        font-size: 12px;
        letter-spacing: 1.2px;
        margin-right: 40px;
        border-top: 1px solid rgba(255,255,255,0.1);
        a {
            margin-top: 8px;
            color: $footer-gray;
        }
        a:hover{
            color: $accent;
        }
    }
}

.footer-magazine-cover{
    max-width: 100%;
}
footer.footer{
    .social-icon{
        font-size: 16px;
        line-height: 12px;
    }
}

@include breakpoint(lg) {
    .footer-content {
        width: 1200px;
    }
};

@include breakpoint(sm) {
    .footer-content {
        width: 710px;
    }
};

@include breakpoint(xxs) {
    footer.footer {
        margin-top: 16px;
    }
};

//#############
// Mobile - xs
//#############
.footer-content-xs{
    width: 100%;
    padding: 16px 16px;

    .footer-block-header {
        height: auto;
        margin-bottom: 16px;
    }
    .footer-block {
        .tag-link{
            @extend .help-link;
            //border-width: 0px;
        }
}
}
