<header class="header-wrapper" id="main-header" ng-class="{'sub-nav__open' : openSubnav}" click-outside="closeSubnav()">

  <div class="social-navbar">
    <i class="icon-facebook-squared social-icon" ng-click="openBlank(social.fb)"></i>
    <i class="icon-vkontakte social-icon" ng-click="openBlank(social.vk)"></i>
    <i class="icon-instagram social-icon" ng-click="openBlank(social.inst)"></i>
  </div>

  <nav class="main-nav-container">
    <div class="top-logo">
      <img class="top-logo-img" src="assets/images/LogoFashionBlack.png" alt="" class="src">
    </div>

    <nav class="main-nav">
      <div class="left-icon" ng-click="openSubnav = !openSubnav">
        <i class="icon-menu"></i>
      </div>

      <div class="nav">
        <ul class="nav-menu">
          <li class="menu-item" ng-repeat="section in navbar.sections" ui-sref-active="active">
            <a ui-sref="section({sectionId: section.id})">{{section.name}}</a>
          </li>
        </ul>
        <div class="logo-container-xs row center-xs">
            <img class="logo-xs" src="assets/images/LogoFashionBlack.png" alt="" class="src">
        </div>
      </div>

      <div class="right-icon">
        <i class="icon-search"></i>
      </div>
    </nav>
  </nav>

  <nav class="sub-nav-container">
    <div class="sub-nav-container-top row center-xs around-xs">
        <div class="sub-nav-tag" append-tag-dot ng-repeat="tag in navbar.tags">
          <a ui-sref="tag({tagId: tag.id})">{{tag.name}}</a>
        </div>
    </div>
    <div class="sub-nav-container-bottom row center-xs between-xs">
      <a href="" class="sub-nav-help-link">О Проекте</a>
      <a href="" class="sub-nav-help-link">Журнал</a>
      <a href="" class="sub-nav-help-link">Реклама</a>
    </div>

  </nav>


  <nav class="sub-nav-container-xs">
    <div class="sub-nav-container-xs-top">
        <ul class="nav-menu-xs">
          <li class="menu-item" ng-repeat="section in navbar.sections | limitTo:3" ui-sref-active="active">
            <a ui-sref="section({sectionId: section.id})">{{section.name}}</a>
          </li>
        </ul>
        <ul class="nav-menu-xs nav-menu-xs-second-row">
          <li class="menu-item" ng-repeat="section in navbar.sections| offset:3 | limitTo:2 "  ui-sref-active="active">
            <a ui-sref="section({sectionId: section.id})">{{section.name}}</a>
          </li>
        </ul>
    </div>
  </nav>

</header>
