.article-content {
    font-family: $font-family-serif;
    img {
        display: block;
        max-width: 100%;
        max-height: 800px;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 2.5rem;
    }
// Headers. Override milligram h1,h2 by h3,h4
    h1,h2,h3,h4 {
        letter-spacing: 0;
    }
    h1{
        font-size: 3rem;
        line-height: 1.3;
    }
    h2{
        font-size: 2.4rem;
        line-height: 1.35;
    }

    h3,h4{
        font-size: 2.0rem;
        line-height: 1.35;
    }

    @media (min-width: $small-breakpoint) {
      h1 {
        font-size: 3.4rem;
      }

      h2 {
        font-size: 2.8rem;
      }
      h3,h4 {
          font-size: 2.4rem;
      }
    }

// Links
    a {
        border-bottom: 2px solid $gray;
    }
    a:hover {
        border-bottom-color: $accent;
    }
    a:visited {
        color: $accent;
        border-bottom-color: $accent;
    }

// List
    li {
        margin-bottom: .4rem;
    }
}
