<div class="container">
    <loader ng-show="isLoading"></loader>
    <div class="article-wrapper">
        <div class="page-content row u-article-width u-article-margin-bottom" bind-html-compile="pageController.page.fullText">
        </div>
    </div>
</div>
