@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/lato/Lato-Regular.woff') format('woff'), url('../assets/fonts/lato/Lato-Regular.ttf')  format('truetype'), url('../assets/fonts/lato/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/lato/Lato-Semibold.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/lato/Lato-Semibold.woff') format('woff'), url('Lato-Semibold.ttf')  format('truetype'), url('../assets/fonts/lato/Lato-Semibold.svg#Lato-Semibold') format('svg');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/lato/Lato-Bold.woff') format('woff'), url('../assets/fonts/lato/Lato-Bold.ttf')  format('truetype'), url('../assets/fonts/lato/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: 600;
    font-style: normal;
}

