<loader ng-show="isLoading"></loader>
<section class="grid" ng-class="{'loading' : isLoading}">
    <!-- block -->
    <div class="row" ng-repeat="block in gridController.blocks">

        <!--cover -->
        <div ng-if="block.cover && block.cover.length" ng-init="cover = block.cover" class="col-xs-12 cell-container cover">
            <a class="cell__cover row div-link" ui-sref="article({articleId: cover[0].id})">
                <div class="col-xs-6 no-padding cover__image__container" ng-style="gridController.getImageBackground(cover[0].featuredImage.url)">
                    <!-- <img class="cover__image" alt="" ng-src="{{cover[0].featuredImage.url}}"/> -->
                </div>
                <div class="col-xs-6 cover__content__container">
                    <div class="cover__content__top row center-xs">
                        <span class="cover__content__top__center caption">{{::cover[0].tags[0].name}}</span>
                    </div>
                    <div class="cover__content__main">
                        <h2 class="cover__content__main__top cover__title">
                            <span>{{::cover[0].title}}</span>
                        </h2>
                        <p class="cover__content__main__bottom cover__excerpt">
                            <span>{{::cover[0].excerpt}}</span>
                        </p>
                    </div>
                    <div class="cover__content__bottom row between-xs">
                        <span class="cover__content__bottom__left caption-sm">
                            {{::cover[0].author}}
                        </span>
                        <span class="cover__content__bottom__right caption-sm" am-time-ago="::cover[0].createdAt"></span>
                    </div>
                </div>
            </a>
            <!-- main article mobile -->
            <a class="cell__cover__xs div-link" ui-sref="article({articleId: cover[0].id})">
                <div class="cell__bg-image__container cell_bg-image-filter" ng-style="gridController.getImageBackground(cover[0].featuredImage.url)">
                    <!-- <img ng-src="{{cover[0].featuredImage.url}}"/> -->
                </div>
                <div class="cell__bg-color"></div>

                <div class="cell">
                    <div class="cell__content_container">
                        <div class="cell__content__top row center-xs">
                            <span class="cell__content__top__center caption caption-white">{{::cover[0].tags[0].name}}</span>
                        </div>
                        <div class="cell__content__main row middle-xs">
                            <div class="cell__content__main_top">
                                <h2 class="cell__title">{{::cover[0].title}}</h2>
                                <p class="cell__excerpt">
                                    {{::cover[0].excerpt}}
                                </p>
                            </div>
                        </div>
                        <div class="cell__content__bottom row center-xs">
                            <span class="cell__content__bottom__center caption-sm caption-white" am-time-ago="::cover[0].createdAt"></span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <!-- usual aritcles -->
        <a ng-repeat="a in block.articles" ng-init="isFI = a.featuredImage !== undefined" class="col-xs-12 col-sm-6 col-md-4 cell-container div-link" ui-sref="article({articleId: a.id})">
            <div ng-if="isFI" class="cell__bg-image__container cell_bg-image-filter" ng-style="gridController.getImageBackground(a.featuredImage.url)">
                <!-- <img ng-src="{{a.featuredImage.url}}"/> -->
            </div>
            <div class="cell__bg-color"></div>

            <div class="cell">
                <div class="cell__content_container">
                    <div class="cell__content__top row center-xs">
                        <span class="cell__content__top__center caption" ng-class="{'caption-white': isFI, 'caption-underline': !isFI }">{{::a.tags[0].name}}</span>
                    </div>
                    <div class="cell__content__main row middle-xs">
                        <h2 class="cell__content__main_top cell__title" ng-class="{'cell_title_black': !isFI}">
                            <span ng-bind-html="::a.title"></span>
                        </h2>
                    </div>
                    <div class="cell__content__bottom row center-xs">
                        <span class="cell__content__bottom__center caption-sm" ng-class="{'caption-white': isFI}" am-time-ago="::a.createdAt"></span>
                    </div>
                </div>
            </div>
        </a>
    </div>
</section>

<!--show more-->
<div class="row center-xs" ng-if="!gridController.page.isLastPage()">
    <button class="button button-outline button-fc no-margin" ng-click="gridController.page.loadMore()">Показать Ещё</button>
</div>

<!-- empty section-->
<div class="error-message" ng-if="gridController.page.isEmpty()">
    <p>В Разделе Пусто</p>
    <button class="button button-outline button-fc no-margin" ui-sref="section({sectionId: 'magazine'})">Перейти в Журнал</button>
</div>
